<!-- Author: Kyan Keise -->
<!-- Date: 07/04/2022 -->
<!-- title: Dynamic Landing Page -->

/* A <div> section in a document that is styled with CSS: */

/* The class attribute is often used to point to a class name in a style sheet. It can also be used by a JavaScript to access and manipulate elements with the specific class name. */

/* The <ul> HTML element represents an unordered list of items, typically rendered as a bulleted list */

/* The <li> HTML element is used to represent an item in a list. It must be contained in a parent element: an ordered list ( <ol> ), an unordered list ( <ul> ), or a menu ( <menu> ). In menus and unordered lists, list items are usually displayed using bullet points. */

/* The <a> tag defines a hyperlink, which is used to link from one page to another.*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
}

#time {
    font-size: 8rem;
}

h1{

margin-bottom: 3rem;
}

h2{
    margin-bottom: 0.5rem;
}

@media(max-width: 700px){
  #time {
      font-size: 6rem;
  } 
}

