/*
Author: Kyan Keise 
Date: 26/04/22
Video title: Flexbox 
*/


/* A <div> section in a document that is styled with CSS: */

/* The class attribute is often used to point to a class name in a style sheet. It can also be used by a JavaScript to access and manipulate elements with the specific class name. */

/* The <ul> HTML element represents an unordered list of items, typically rendered as a bulleted list */

/* The <li> HTML element is used to represent an item in a list. It must be contained in a parent element: an ordered list ( <ol> ), an unordered list ( <ul> ), or a menu ( <menu> ). In menus and unordered lists, list items are usually displayed using bullet points. */

/* The <a> tag defines a hyperlink, which is used to link from one page to another.*/


/* .........................FLEX INFO....................................... */

/* Flexbox is a one dimensional layout model that provides a method to offer space distribution and powerful alignment capabilities */

/* Can use Grid to style the overall layout then use flexbox for the inner components */

/* Flex container is the element that holds flex items. Flex items are direct children of flex containers */

/* display:flex = a new container */


/* flex container properites - flex-direction, flex-wrap, flex-flow, justify-content, align-items, align-content */

/* Flex item properties - order, flex-grow, flex-shrink, flex-basis, align-self */

/* ...........................THE AXES................................................................... */

/* Main Axis - flex-direction: row <---- ---> */ 
/* Main Axis - flex-direction: column ^ */

/* Cross Axis - flex-direction: column <---  ---> */
/* Cross Axis - flex-direction: column ^  */

/* Basic CSS Style */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.flex-container{
   
    display: flex;

    background-color: #f4f4f4;

    /* Always on the main axis */

    /* justify-content: space-between; */

    /* Always on the cross axis */

    /* align-items: start; */


}


.item {
    flex: 1;
    height: 100px;
    flex-grow: 1;
    height: 100px;
    background: #254de4;
    margin: 10px;
    color: white;

    /* Good way to center a div */

    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-last-of-type(1) {
    /* flex-shrink: 1; */
   /* flex-grow: 3; */
}
.item:nth-last-of-type(2) {
    /* flex-shrink: 2; */
    /* flex-grow: 1; */
}
.item:nth-last-of-type(3) {
    /* flex-shrink: 3; */
    /* flex-grow: 1; */
}