/*
Name: Kyan Keise
Date: 10/11/2021
Title: F1 Historic Responsive site
*/

/* A <div> section in a document that is styled with CSS: */

/* The class attribute is often used to point to a class name in a style sheet. It can also be used by a JavaScript to access and manipulate elements with the specific class name. */

/* The <ul> HTML element represents an unordered list of items, typically rendered as a bulleted list */

/* The <li> HTML element is used to represent an item in a list. It must be contained in a parent element: an ordered list ( <ol> ), an unordered list ( <ul> ), or a menu ( <menu> ). In menus and unordered lists, list items are usually displayed using bullet points. */

/* The <a> tag defines a hyperlink, which is used to link from one page to another.*/

body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
