<!-- Author: Kyan Keise -->
<!-- Date: 25/03/2022 -->
<!-- Title: Parrallax Website  -->

/* A <div> section in a document that is styled with CSS: */

/* The class attribute is often used to point to a class name in a style sheet. It can also be used by JavaScript to access and manipulate elements with the specific class name. */

/* The <ul> HTML element represents an unordered list of items, typically rendered as a bulleted list */

/* The <li> HTML element is used to represent an item in a list. It must be contained in a parent element: an ordered list ( <ol> ), an unordered list ( <ul> ), or a menu ( <menu> ). In menus and unordered lists, list items are usually displayed using bullet points. */

/* The <a> tag defines a hyperlink, which is used to link from one page to another.*/




body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

/* 
  fixed = parallax
  scroll = normal
 */


    background-attachment: fixed;
}

.pimg1{
    background-image: url('../images/image1.jpg');
    min-height: 100%;
}
.pimg2{
    background-image: url('../images/image2.jpg');
    min-height: 400px;
}
.pimg3{
    background-image: url('../images/image3.jpg');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 90px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff ;
    padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}

@media(max-width: 568px) {
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }

    .ptext{
        font-size: 16px;
    }
}
